.content{
	display: flex;
	flex-direction: column;
	width: calc(100% - 300px);
	padding: 50px 10px;
}

.img{
	display: block;
	object-fit: contain;
	width: 150px;
}

.information{
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-flow: column;
	gap: 20px;
}