:root {
  --main-color: #3d5a80;
  --second-color: #ee6c4d;
  --error-color: #98c1d9;
  --success-color: #8ac926;
  --dark-color: #16262e;
  --little-dark-color: #cfd7c7;
  --light-color: #eef4ed;
  --box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  --border-radius: 5px;
}

*{
  padding: 0;
  margin: 0;
}

li, a{
  text-decoration: none;
  list-style: none;
}

body{
	background: var(--light-color);
	color: var(--dark-color);
  display: flex;
}

h1, h2, h3, h4, h5{
	font-family: Raleway, sans-serif;
	font-size: 40px;
}

p, li, a, label, input{
	font-family: Roboto, sans-serif;
	font-size: 20px;
}